@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  
}

/* custom scrollbar */

.jersey-10-regular {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

.pixel-button {
  background: #86fc3c;
  color: #000000;
  padding: 8px 16px;
  border: 2px solid #000000;
  font-family: "Press Start 2P", monospace;
  position: relative;
  box-shadow: 
    2px 2px 0 0 #000000,
    -2px -2px 0 0 #ffffff,
    -2px 2px 0 0 #000000,
    2px -2px 0 0 #000000;
  text-transform: uppercase;
  image-rendering: pixelated;
  cursor: pointer;
}

.pixel-button:active {
  transform: translate(2px, 2px);
  box-shadow: none;
  
}