@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

.custom-border-gradient {
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-image-source: linear-gradient(180deg, rgba(182, 255, 27, 0.46) 0%, rgba(64, 95, 0, 0.46) 100%);
    border-image-slice: 1;
  }

  .loader {
    border: 5px solid #2d3748;
    border-top: 5px solid #4299e1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .innerscroll::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  .innerscroll::-webkit-scrollbar-track {
    background: #1a202c;
  }
  
  .innerscroll::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 5px;
  }
  
  .innerscroll::-webkit-scrollbar-thumb:hover {
    background: #718096;
  }